
@use '../temas/temas.scss';

.header {
    display: flex;
    justify-content: center;
    background-color: temas.$colourSecond;
    padding: 10px 0;
}

.card {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

.trailer {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background-image: url(/dist/img/babyJane3.jpg);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: temas.$colourSecond;
    margin-top: 70px;
    border: 1px solid blue;
}

