@use '../temas/temas.scss';

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024;
    width: 100%;
    font-family: temas.$fontLobsterTwo;

    &__title {
        text-align: center;
        font-family: temas.$fontCreepster;
        font-size: 35px;
        
        &--sub {
            font-family: temas.$fontJosefin;
            font-size: 15px;
        }
    }
    &__choice {
        display: block;
        &--icons {
            margin: 0;
            padding: 0;
        }
    }
    &--menu {
        display: none;
        margin-top: 70px;
    }
}

ul {
    li {
        border-color: temas.$colourSecond;
        color: temas.$colourOfBackground;
        background-color: temas.$colourSecond;
        list-style-type: none;
    }
}
a {
    list-style-type: none;
}


