@use '../temas/temas.scss';

@mixin boxCenter {
    max-width: 1024px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;  
}

@mixin boxParagraph($colorTemas, $fontFamily, $fontSize) {
    color: $colorTemas;
    font-family: $fontFamily;
    font-size: $fontSize;
    letter-spacing: .1rem;
    text-align: justify;
}

.container {
    @include boxCenter;
    font-family: temas.$fontLobsterTwo;

    @media only screen and (max-width: 580px) {
        max-width: 95%;
        margin: 0 auto;
    }

    @media only screen and (max-width: 1023px) {
        max-width: 95%;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-family: temas.$fontCreepster;
        font-size: 35px;
        
        &--sub {
            font-family: temas.$fontJosefin;
            font-size: 15px;
        }
    }

    &__btn {
        display: block;
        margin: auto 0;
        width: 50px;
        height: 50px;
        border: 2px solid temas.$colourOfBackground;
        border-radius: 10px;
        background-color: temas.$colourSecond;
    }
}

.menu {
    @include boxCenter;
    margin: 0 auto;
    position: relative;

    &__box {
        display: none;
        width: 20%;
        border: 0 solid temas.$colourSecond;
        background-color: temas.$colourSecond;
        position: absolute;
        right: 0;
        bottom: -100px;
        z-index: 1;

        @media only screen and (max-width: 580px) {
            max-width: 100%;
            width: 40%;
            right: 1%;
        }

        @media only screen and (max-width: 1023px) {
            right: 10;
        }
    
        &-itens {
            width: 100%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
            font-size: 22px;
        }
    
        &-item {
            list-style: none;
            height: 33,33%;
            padding: 4px 0 4px 10px;
            border-bottom: 1px solid temas.$colourOfBackground;
            font-family: temas.$fontJosefin;
            font-weight: bolder;
            text-align: center;
            text-align: justify;
        }
    
        &-link {
            text-decoration: none;
            color: temas.$colourOfBackground;
        }
    }
}

.synopsis {
    @include boxCenter();
    margin: 70px auto;

    @media only screen and (max-width: 580px) {
        display: block;
        margin-top: 35px;
        margin-bottom: 35px;                   
    }

    &__poster {
        max-width: 45%;
        height: 100%;

        @media only screen and (max-width: 580px) {
            max-width: 95%;
            margin: 0 auto;                    
        }

        &-img {
            max-width: 100%;
            max-height: 100%;
            height: 100vh;
            width: 100vw;

            @media only screen and (max-width: 580px) {
                max-width: 100%;
                max-height: 100%;
                height: 100vh;
                width: 100vw;                   
            }
        }
    }
    
    &__summary {
        max-width: 55%;
        width: 100%;
        display: block;

        @media only screen and (max-width: 580px) {
            display: block;
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
        }

        &-title {
            color: temas.$colourSecond;
            font-family: temas.$fontCreepster;
            font-size: 45px;
            font-weight: 400;
            margin: 0 0 1% 3% ;
            height: 6%;

            @media only screen and (max-width: 580px) {
                text-align: center;
                margin: 10px 0;
                font-size: 30px;
            }
        }

        &-paragraph {
            @include boxParagraph(temas.$colourSecond, temas.$fontCreepster, 16px);
            margin: 0 3% 1% 3%;
            max-width: 100%;

            @media only screen and (max-width: 580px) {
                margin-top: 10pxpx;
            }
        }

        &Movie {
            margin: 5% 3% 1% 3%;
            max-width: 100%;
            height: 15%;
            background: temas.$colourSecond;

            @media only screen and (max-width: 580px) {
                font-size: 12px;
                height: 20%;
            }

            &-icom {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                height: 100%;

                @media only screen and (max-width: 580px) {
                    padding: 0 2px;
                }
            }

            &-icons {
                list-style: none;
                margin: auto 0;
                font-family: temas.$fontLobsterTwo;

                @media only screen and (max-width: 580px) {
                    font-size: 12px;
                }
            }

            &-img {
                width: 30px;
                height: 30px;

                @media only screen and (max-width: 580px) {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}

.card {
    &__title {
        padding: 2px 0;
        color: temas.$colourSecond;
        font-family: temas.$fontCreepster;
        font-size: 45px;
        text-align: center;

        @media only screen and (max-width: 580px) {
            font-size: 30px;
            margin-bottom: 10px;

        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 2%;
        margin: 4px 0 0 0;
        width: 100%;

        @media only screen and (max-width: 580px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 1fr);
            margin-top: 2px;
            gap: .1% 1%;
        }

        &-flashcards {
            display: flex;
            flex-direction: column;

            &Img {
                max-width: 100%;
                width: 100%;
                height: 75%;
            }

            &Paragraph {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                margin: 2px 0 0 0;
                height: 25%;
                text-align: center;
                font-family: temas.$fontLobsterTwo;
                font-weight: 400;
                font-size: 16px;
                letter-spacing: .1rem;
                background-color: temas.$colourSecond;

                @media only screen and (max-width: 580px) {
                    font-size: 16px;
                }
            }
        }
    }
}

.trailer__title {
    margin: 2px auto;
    text-align: center;
    font-family: temas.$fontCreepster;
    font-weight: 400;
    font-size: 45px;
    color: temas.$colourSecond;
}

.trailer__youtube {
    width: 30%;
    margin: 0 auto;
    border-radius: 30px;

    @media only screen and (max-width: 580px) {
        width: 50%;
    }

    &-link {
        margin: 0 auto;
        text-decoration: none;
        width: 100%;
        border-radius: 30px;

        &Img {
            width: 100%;
            height: 40%;
            border-radius: 30px;

            @media only screen and (max-width: 580px) {
                height: 40%;
            }
        }
    }
}

.containerFooter {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media only screen and (max-width: 580px) {
        width: 95%;
        font-size: 12;
    }

    &__icons-link {
        text-decoration: none;

        &Img {
            margin-top: 5px;
            max-width: 100%;
            width: 80px;
            height: 50px;
        }
    }
}







